In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('dataset.csv')

In [3]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [4]:
movies.describe()

                 id    popularity  vote_average     vote_count
count  9.917000e+03   9917.000000   9917.000000    9917.000000
mean   1.615238e+05     39.901000      6.637854    1691.919129
std    2.120662e+05    311.332679      0.754277    9111.178728
min    5.000000e+00      0.600000      4.600000     200.000000
25%    1.009800e+04      9.169000      6.100000     317.000000
50%    2.956400e+04     13.672000      6.600000     589.000000
75%    3.105690e+05     25.782000      7.200000    1475.000000
max    1.110390e+06  11598.000000      9.700000  654645.000000

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9917 entries, 0 to 9916
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9917 non-null   int64
 1   title              9917 non-null   object
 2   genre              9914 non-null   object
 3   original_language  9917 non-null   object
 4   overview           9907 non-null   object
 5   popularity         9917 non-null   float64
 6   release_date       9917 non-null   object
 7   vote_average       9917 non-null   float64
 8   vote_count         9917 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 697.4+ KB

Feature Selection Part

In [6]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [7]:
movies.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             10
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [8]:
movies=movies[['id','title','overview','genre']]

In [9]:
movies

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance"
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime"
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War"
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime"
...,...,...,...,...
9912,579974,RRR,A fictional history of two legendary revolutio...,"Action,Drama"
9913,960876,Dunki,Four friends from a sleepy little village in P...,"Comedy,Drama"
9914,1110390,Teri Baaton Mein Aisa Uljha Jiya,A robotics engineer searching for his perfect ...,"Romance, Comedy, Science Fiction, Drama"
9915,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...,"Fantasy, Action, Adventure"
9916,693134,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,"Science Fiction, Adventure"

In [10]:
movies['tags']=movies['overview']+movies['genre']

In [11]:
movies

,id,title,overview,genre,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,"Drama,Crime",In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9912,579974,RRR,A fictional history of two legendary revolutio...,"Action,Drama",A fictional history of two legendary revolutio...
9913,960876,Dunki,Four friends from a sleepy little village in P...,"Comedy,Drama",Four friends from a sleepy little village in P...
9914,1110390,Teri Baaton Mein Aisa Uljha Jiya,A robotics engineer searching for his perfect ...,"Romance, Comedy, Science Fiction, Drama",A robotics engineer searching for his perfect ...
9915,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...,"Fantasy, Action, Adventure",The story of Shiva – a young man on the brink ...
9916,693134,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,"Science Fiction, Adventure",Follow the mythic journey of Paul Atreides as ...

In [12]:
new_data  = movies.drop(columns=['overview', 'genre']) #The drop() method in Pandas is used to remove columns (or rows) from a DataFrame.

In [13]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9912,579974,RRR,A fictional history of two legendary revolutio...
9913,960876,Dunki,Four friends from a sleepy little village in P...
9914,1110390,Teri Baaton Mein Aisa Uljha Jiya,A robotics engineer searching for his perfect ...
9915,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...
9916,693134,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
cv=CountVectorizer(max_features=1000, stop_words='english') 
#CountVectorizer is used to convert a collection of text documents into a matrix of token counts
#Stop words are common words that are often filtered out during the preprocessing of text data

In [16]:
cv

CountVectorizer(max_features=1000, stop_words='english')

In [17]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [18]:
vector.shape

(9917, 1000)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
similarity=cosine_similarity(vector)

In [21]:
similarity

array([[1.        , 0.10114435, 0.20851441, ..., 0.06019293, 0.04347826,
        0.04445542],
       [0.10114435, 1.        , 0.14552138, ..., 0.28005602, 0.05057217,
        0.10341754],
       [0.20851441, 0.14552138, 1.        , ..., 0.05773503, 0.        ,
        0.17056057],
       ...,
       [0.06019293, 0.28005602, 0.05773503, ..., 1.        , 0.06019293,
        0.18463724],
       [0.04347826, 0.05057217, 0.        , ..., 0.06019293, 1.        ,
        0.08891084],
       [0.04445542, 0.10341754, 0.17056057, ..., 0.18463724, 0.08891084,
        1.        ]])

In [22]:
new_data[new_data['title']=='The Godfather'].index[0]

2

In [23]:
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Batman: The Killing Joke
House of Gucci
Bomb City

In [24]:
def recommend(movies):
    index=new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [25]:
recommend("The Shawshank Redemption")

The Shawshank Redemption
Brubaker
Cool Hand Luke
A Prophet
The Getaway

In [26]:
import pickle

In [27]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [28]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [29]:
pickle.load(open('movies_list.pkl', 'rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9912,579974,RRR,A fictional history of two legendary revolutio...
9913,960876,Dunki,Four friends from a sleepy little village in P...
9914,1110390,Teri Baaton Mein Aisa Uljha Jiya,A robotics engineer searching for his perfect ...
9915,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...
9916,693134,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...

In [30]:
movies.tail(15)

,id,title,overview,genre,tags
9902,146203,The Last Exorcism Part II,As Nell Sweetzer tries to build a new life aft...,"Horror,Thriller",As Nell Sweetzer tries to build a new life aft...
9903,551808,Black Christmas,"During Christmas break, the women at Hawthorne...","Horror,Mystery,Thriller","During Christmas break, the women at Hawthorne..."
9904,853588,Prey,A hiking trip into the wild turns into a despe...,Thriller,A hiking trip into the wild turns into a despe...
9905,17455,Hellraiser: Deader,"In London, after investigating crack addicted ...","Horror,Mystery,Thriller","In London, after investigating crack addicted ..."
9906,168098,Cell,When a strange signal pulsates through all cel...,"Horror,Science Fiction,Thriller",When a strange signal pulsates through all cel...
9907,10196,The Last Airbender,"The story follows the adventures of Aang, a yo...","Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo..."
9908,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...
9909,13995,Captain America,"During World War II, a brave, patriotic Americ...","Action,Science Fiction,War","During World War II, a brave, patriotic Americ..."
9910,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...
9911,455957,Domino,Seeking justice for his partner’s murder by an...,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...
9912,579974,RRR,A fictional history of two legendary revolutio...,"Action,Drama",A fictional history of two legendary revolutio...
9913,960876,Dunki,Four friends from a sleepy little village in P...,"Comedy,Drama",Four friends from a sleepy little village in P...
9914,1110390,Teri Baaton Mein Aisa Uljha Jiya,A robotics engineer searching for his perfect ...,"Romance, Comedy, Science Fiction, Drama",A robotics engineer searching for his perfect ...
9915,496331,Brahmāstra Part One: Shiva,The story of Shiva – a young man on the brink ...,"Fantasy, Action, Adventure",The story of Shiva – a young man on the brink ...
9916,693134,Dune: Part Two,Follow the mythic journey of Paul Atreides as ...,"Science Fiction, Adventure",Follow the mythic journey of Paul Atreides as ...